@model StoreApp.Models.Detail

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление детали</h2>

<h3>Вы уверены, что хотите удалить указанную деталь?</h3>
<div>
    <hr />
    <p>Деталь <b>@Html.DisplayFor(model => model.name)</b> состоит из материала <b>@Html.DisplayFor(model => model.Material.name) (@Html.DisplayFor(model => model.count) шт)</b></p>

    <div>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" /> |
                @Html.ActionLink("Вернуться к списку деталей", "Index")
            </div>
        }
    </div>
</div>
