@model StoreApp.Models.ProductsDetail

@{
    ViewBag.Title = "Удаление детали из изделия";
}

<h2>Удаление детали из изделия</h2>

<h3>Вы уверены что хотиту удалить указанную деталь из издения?</h3>

<div>
    <p>
        <span>Удаление детали <b>@Html.DisplayFor(model => model.Detail.name)</b> из изделия <b>@Html.DisplayFor(model => model.Product.name)</b></span>
    </p>
    <p>
        <span>Количество деталей в изделии - <b>@Html.DisplayFor(model => model.count) шт</b></span>
    </p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к редактированию изделия", "Edit", new { id = @Model.Product.id })
        </div>
    }
</div>
